<ion-view title="我的">

    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="bg">
        <div class="list card" id="log">
            <a  href="#/tabs/logIn">
                <div class="item item-avatar-left">
                    <img src="images/mrtx.jpg"/>
                    <!--<a  href="#/tabs/brief">sd</a>-->
                    <h4>未登录</h4>
                    <p>登录后享用更多功能</p>
                    <span>></span>
                </div>
            </a>
            <div class="item tabs tabs-icon-left">
                <div class="tab-item">
                    <div class="top">0</div>
                    <i class="icon ion-heart assertive"><span> 婚纱照</span></i>
                </div>
                <div class="tab-item">
                    <div class="top">0</div>
                    <i class="icon ion-cube assertive"><span> 收藏</span></i>
                </div>
                <div class="tab-item">
                    <div class="top"></div>
                    <i class="icon ion-ios-grid-view assertive"><span> 拼图</span></i>
                </div>
            </div>
        </div>
        <a class="order"  href="#/tabs/logIn">
            <i class="icon ion-plus-circled"></i> 创建订单
        </a>
    </ion-content>
    <div class="phone">
        <i class="icon ion-ios-telephone"></i> 400-172-1314
    </div>
</ion-view>