<ion-view title="嫁拍">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>后退</ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="home">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" >
            <ion-slide>
                <div class="box"><img src="images/pic-1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/pic-2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/pic-3.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/pic-4.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
        <div class="row">
            <div class="col pic">
                <div class="pic_img">
                    <img src="images/pic-8.jpg" />
                    <p>嫁拍之旅</p>
                </div>
            </div>
            <div class="col pic">
                <div class="pic_img">
                    <img src="images/pic-7.jpg" />
                    <p class="p_background">甜蜜约惠</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pic">
                <div class="pic_img">
                    <img src="images/pic-6.jpg" />
                    <p class="p_background">嫁拍之旅</p>
                </div>
            </div>
            <div class="col pic">
                <div class="pic_img">
                    <img src="images/pic-5.jpg" />
                    <p>嫁拍之旅</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-image">
                <img src="images/pic-5.jpg " class="border-5"/>
            </div>
            <div class="item item-avatar-left pic_list">
                <img src="images/pop-1.jpg"/>
                <h2>刘诗诗的评论</h2>
                <p>我最喜欢京西商城的服装了</p>
            </div>

            <div class="item tabs tabs-icon-left">
                <div class="tab-item">
                    <i class="icon ion-cube bar-balanced" ></i>收藏
                </div>
                <div class="tab-item">
                    |
                </div>
                <div class="tab-item">
                    <i class="icon ion-share bar-balanced"></i>分享
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>